In [ ]:
import pandas as pd
import numpy as np

In [ ]:
data = pd.read_csv("/content/Student-University.csv",names=['x1','x2','y'])

In [ ]:
data

           x1         x2  y
0   34.623660  78.024693  0
1   30.286711  43.894998  0
2   35.847409  72.902198  0
3   60.182599  86.308552  1
4   79.032736  75.344376  1
..        ...        ... ..
95  83.489163  48.380286  1
96  42.261701  87.103851  1
97  99.315009  68.775409  1
98  55.340018  64.931938  1
99  74.775893  89.529813  1

[100 rows x 3 columns]

In [ ]:
# split the x and y
x = data.iloc[:,[0,1]].values
y = data.iloc[:,2].values

In [ ]:
# we need to have preprocessing
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold

In [ ]:
#  we need to do the preprocessing of the x
xp = preprocessing.scale(x)
kf = KFold(n_splits=5)

In [ ]:
for train_index,test_index in kf.split(xp):
  x_train,x_test,y_train,y_test = train_test_split(xp,y,test_size=0.20)
  x1 = x_train[0]
  x2 = x_train[1]
  b0 = 0.0
  b1 = 0.0
  b2 = 0.0
  epoch = 100
  alpha = 0.001
  while(epoch > 0):
    for i in range(lens)